<footer class="glue-footer glue-mod-spacer-3-top">
    <section class="glue-footer__global">
        <div class="glue-footer__logo">
            <a href="https://www.google.com" title="Google">
                <svg role="img" aria-hidden="true" class="glue-footer__logo-img">
                    <use xlink:href="{{wwwroot}}/glue/glue-icons.svg#google-solid-logo"></use>
                </svg>
            </a>
        </div>

        <ul class="glue-footer__global-links glue-no-bullet">
            <li class="glue-footer__global-links-list-item">
                <a class="glue-footer__link" href="https://goo.gle/covid-19-open-data">
                    Dataset
                </a>
            </li>

            <li class="glue-footer__global-links-list-item">
                <a class="glue-footer__link" href="https://policies.google.com/privacy">
                    Privacy
                </a>
            </li>

            <li class="glue-footer__global-links-list-item">
                <a class="glue-footer__link" href="https://policies.google.com/terms">
                    Terms
                </a>
            </li>
        </ul>

        <ul class="glue-footer__global-links glue-footer__global-links--extra glue-no-bullet">
            <li class="glue-footer__global-links-list-item glue-footer__global-links-list-item--extra">
                <a class="glue-footer__link false" href="https://github.com/open-covid-19/explorer.git">
                    Visualization Code
                </a>
            </li>
        </ul>


    </section>
</footer>