<head>
    <!-- HTML metadata -->
    <meta charset="UTF-8" />
    <title>{{name}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="icon" type="image/png" href="{{root}}/static/logo-64.png" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="{{name}}" />

    <!-- Homescreen icons -->
    <link rel="apple-touch-icon" href="{{root}}/static/icon-64x64.png" />
    <link rel="apple-touch-icon" sizes="64x64" href="{{root}}/static/icon-64x64.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="{{root}}/static/icon-128x128.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="{{root}}/static/icon-512x512.png" />

    <!-- Capabilities-related metadata -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <!-- JQuery and plugins -->
    <script type="text/javascript" src="{{root}}/third_party/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{root}}/third_party/jquery-ui-dist/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{root}}/third_party/jqvmap/dist/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="{{root}}/static/jquery.ui.combobox.min.js"></script>
    <script type="text/javascript" src="{{root}}/third_party/jqvmap/dist/maps/jquery.vmap.world.js"
        charset="utf-8"></script>
    <link rel="stylesheet" href="{{root}}/third_party/jqvmap/dist/jqvmap.min.css" />
    <link rel="stylesheet" href="{{root}}/third_party/jquery-ui-dist/jquery-ui.min.css">

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="{{root}}/third_party/moment/min/moment.min.js"></script>

    <!-- CSV Parsing -->
    <script type="text/javascript" src="{{root}}/third_party/papaparse/papaparse.min.js"></script>

    <!-- Character transliteration -->
    <script type="text/javascript" src="{{root}}/third_party/transliteration/dist/browser/bundle.umd.min.js"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{root}}/third_party/picnic/picnic.min.css" />
    <link rel="stylesheet" href="{{root}}/static/styles.min.css" />

    <!-- Polyfills, custom functions and constants -->
    <script type="text/javascript" src="{{root}}/static/polyfills.min.js"></script>
    <script type="text/javascript" src="{{root}}/static/open-covid-19.min.js"></script>
    <script type="text/javascript">

        // Global object used to cache objects and data
        CACHE = window.CACHE || { 'JSON': {}, 'CSV': {}, 'gcharts': {} };

        // Define constants and default options
        const DEFAULT_OPTIONS = {
            'data-url': 'https://storage.googleapis.com/covid19-open-data',
            'history-size-limit': 0,
            'history-size-mobile': 100,
            'skip-until-outbreak': true,
            'outbreak-threshold-ratio': 0.05,
            'read-format': 'JSON',
            'shareable-charts': true,
            'min-date': null,
            'max-date': null,
        }

        // Read debugging options from session storage
        const CURRENT_OPTIONS = Object.keys(DEFAULT_OPTIONS).reduce((acc, key) =>
            Object.assign(acc, { [key]: sessionStorage.getItem(key) || DEFAULT_OPTIONS[key] }), {});

        // Set the constants that will be read throughout the rest of the app
        const OPEN_COVID_CONFIG = Object.assign(
            {
                'tables': {
                    'index': 'Index',
                    'demographics': 'Demographics',
                    'economy': 'Economy',
                    'epidemiology': 'Epidemiology',
                    'geography': 'Geography',
                    'health': 'Health',
                    'hospitalizations': 'Hospitalizations',
                    'mobility': 'Mobility',
                    'oxford-government-response': 'Oxford Government Response',
                    'lawatlas-emergency-declarations': 'LawAtlas Emergency Declarations',
                    'weather': 'Weather',
                    'worldbank': 'Worldbank',
                    'by-age': 'Breakdown by Age',
                    'by-sex': 'Breakdown by Sex',
                    'google-search-trends': 'Google Search Trends',
                },
            },
            CURRENT_OPTIONS,
        );

        // Create a default configuration for Google Charts
        GOOGLE_CHARTS_CONFIG = window.GOOGLE_CHARTS_CONFIG || {
            theme: 'material',
            colors: ['{{theme-primary}}'],
            legend: {
                position: CURRENT_OPTIONS.chart_legend_position || 'none'
            },
            chartArea: {
                width: '100%',
                height: '100%',
                left: parseInt(CURRENT_OPTIONS.chart_padding_left || 64),
                bottom: parseInt(CURRENT_OPTIONS.chart_padding_bottom || 48),
                top: parseInt(CURRENT_OPTIONS.chart_padding_top || 24),
            },
            titlePosition: 'in',
            axisTitlesPosition: 'in',
            hAxis: {
                textPosition: 'bottom'
            },
            vAxis: {
                textPosition: 'out',
                viewWindow: { min: 0 }
            },
            height: parseInt(CURRENT_OPTIONS.chart_height || 300),
        }

    </script>
</head>