<div class="centered fullwidth">
    <input disabled id="location-selector" type="search" placeholder="Search for any location" results="0" />
</div>
<script async>

    function searchify(term) {
        return transliterate(term).toLocaleLowerCase();
    }

    function* filter(array, condition, maxCount) {
        var idx = 0;
        while (maxCount > 0) {
            while (idx < array.length && !condition(array[idx])) idx++;
            if (idx >= array.length) return;
            yield array[idx++];
            maxCount--;
        }
    }

    (async function () {

        const populations = (await loadCSV(`${CURRENT_OPTIONS['data-url']}/v3/demographics.csv`))
            .reduce((acc, row) => {
                acc[row.location_key] = parseInt(row.population) || 0;
                return acc;
            }, {});
        const indexRecords = (await loadCSV(`${CURRENT_OPTIONS['data-url']}/v3/index.csv`))
            .map(row => Object.assign({}, row, { 'population': populations[row.location_key] }))
            .sort((a, b) => (b.population || 0) - (a.population || 0));

        const locationLabelMap = indexRecords.map(row => {
            let label = '';
            switch (parseInt(row.aggregation_level)) {
                case 0:
                    label = `<div>${row.country_name} <span class="mono">${row.location_key}</span></div>`
                    return { value: row.location_key, label: label, match: searchify(label) };
                case 1:
                    label = `<div>${row.subregion1_name}, ${row.country_name} <span class="mono">${row.location_key}</span></div>`;
                    return { value: row.location_key, label: label, match: searchify(label) };
                case 2:
                    label = `<div>${row.subregion2_name}, ${row.subregion1_name} ${row.country_code} <span class="mono">${row.location_key}</span></div>`;
                    return { value: row.location_key, label: label, match: searchify(label) };
                case 3:
                    label = `<div>${row.locality_name}, ${row.subregion1_name} ${row.country_code} <span class="mono">${row.location_key}</span></div>`;
                    return { value: row.location_key, label: label, match: searchify(label) };
                default:
                    console.error(`Unknown aggregation level for record:`);
                    console.error(row);
            }
        }).filter(row => row && row.value && row.label);

        $("#location-selector").autocomplete({
            minLength: 2,
            source: (req, res) => {
                const search = searchify(req.term);
                return res(Array.from(filter(locationLabelMap, row => row.match.indexOf(search) !== -1, 10)));
            },
            select: function (event, ui) {
                const key = ui.item.value;
                if (locationLabelMap.map(row => row.value).indexOf(key) !== -1) {
                    if ('{{action-download}}' === 'true') {
                        window.open(`{{gcs-url}}/v3/location/${key}.csv`);
                    } else {
                        window.goto(`{{url-prefix}}?key=${key}`);
                    }
                }
            },
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append(item.label)
                        .appendTo(ul);
                };
            }
        });

        $('#location-selector').attr('disabled', false);
        $('#location-selector').focus();
    })();
</script>