.single-column {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

input#location-selector {
    font-size: large;
    padding-top: .2em;
    padding-bottom: .2em;
    width: calc(100% - 1.2em);
}

.google-charts-column-header {
    background-color: #6A6A6A;
}

#debug-button {
    position: fixed;
    display: none;
    bottom: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    z-index: 1;
}

.chart-footer {
    max-width: 100%;
    text-align: end;
    font-size: small;
}